<li class="nav-item"><a class="nav-link" href="/">{{HOME}}</a></li>
{{NAVBAR_LINKS}}
<li class="nav-item dropdown navbar-right">
    <a class="nav-link dropdown-toggle" href="#" id="dropdownUSER"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class='material-icons'>person</i>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownUSER">
        <a class="dropdown-item" href="user/login">{{LOGIN}}</a>
        <div class='separator-line'></div>
        <a class="dropdown-item" href="/user/signin">{{SIGNIN}}</a>
    </div>
</li>