<!DOCTYPE html>
<html lang="{{LANG}}">
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- Material Dashboard CSS -->
    <link rel="stylesheet" href="{{ASSETS_PATH}}css/material-dashboard?v=2.1.0.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-{{COLOR}}">
    <div class="container">
        <a class="navbar-brand" href="#">{{SITE_NAME}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {{NAVBAR}}
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="container">
        <div class="container-fluid">
            <h1 class="text-center">{{TITLE}}</h1>
            <div class="clearfix"><br><br></div>
            <div class="container">
                {{ERROR}}
                {{BODY}}
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="{{ASSETS_PATH}}js/core/jquery.min.js" type="text/javascript"></script>
<script src="{{ASSETS_PATH}}js/core/popper.min.js" type="text/javascript"></script>
<script src="{{ASSETS_PATH}}js/core/bootstrap-material-design.min.js" type="text/javascript"></script>

<!-- Plugin for the Perfect Scrollbar -->
<script src="{{ASSETS_PATH}}js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!-- Plugin for the momentJs  -->
<script src="{{ASSETS_PATH}}js/plugins/moment.min.js"></script>

<!--  Plugin for Sweet Alert -->
<script src="{{ASSETS_PATH}}js/plugins/sweetalert2.js"></script>

<!-- Forms Validations Plugin -->
<script src="{{ASSETS_PATH}}js/plugins/jquery.validate.min.js"></script>

<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="{{ASSETS_PATH}}js/plugins/jquery.bootstrap-wizard.js"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{{ASSETS_PATH}}js/plugins/bootstrap-selectpicker.js"></script>

<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="{{ASSETS_PATH}}js/plugins/bootstrap-datetimepicker.min.js"></script>

<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="{{ASSETS_PATH}}js/plugins/jquery.datatables.min.js"></script>

<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{{ASSETS_PATH}}js/plugins/bootstrap-tagsinput.js"></script>

<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{{ASSETS_PATH}}js/plugins/jasny-bootstrap.min.js"></script>

<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="{{ASSETS_PATH}}js/plugins/fullcalendar.min.js"></script>

<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{{ASSETS_PATH}}js/plugins/jquery-jvectormap.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ASSETS_PATH}}js/plugins/nouislider.min.js"></script>

<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

<!-- Library for adding dinamically elements -->
<script src="{{ASSETS_PATH}}js/plugins/arrive.min.js"></script>

<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Chartist JS -->
<script src="{{ASSETS_PATH}}js/plugins/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="{{ASSETS_PATH}}js/plugins/bootstrap-notify.js"></script>

<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ASSETS_PATH}}js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
</body>
</html>