<form id="RegisterValidation" action="/user/signin" method="post" novalidate="novalidate">
    <div class="card ">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
                <i class="material-icons">mail_outline</i>
            </div>
            <h4 class="card-title">{{SIGNINFORM}}</h4>
        </div>
        <div class="card-body ">
            <div class="form-group bmd-form-group">
                <label for="pseudo" class="bmd-label-floating"> {{PSEUDO}} *</label>
                <input type="text" class="form-control" id="pseudo" name="pseudo" required="true" aria-required="true">
            </div>
            <div class="form-group bmd-form-group">
                <label for="email" class="bmd-label-floating"> {{EMAILADDRESS}} *</label>
                <input type="email" class="form-control" id="email" name="email" required="true" aria-required="true">
            </div>
            <div class="form-group bmd-form-group">
                <label for="password" class="bmd-label-floating"> {{PASSWORD}} *</label>
                <input type="password" class="form-control" id="password" required="true" name="password"
                       aria-required="true">
            </div>
            <div class="form-group bmd-form-group">
                <label for="confirm_password" class="bmd-label-floating"> {{CONFIRMPASSWORD}} *</label>
                <input type="password" class="form-control" id="confirm_password" required="true"
                       equalto="#examplePassword" name="confirm_password" aria-required="true">
            </div>
            <div class="category form-category">* {{REQUIREDFIELD}}</div>
            <input type="submit" name="register_submit" class="btn btn-outline-primary"
                   value="{{REGISTERSUBMIT}}">
        </div>
    </div>
</form>